<footer class="w-full flex justify-around py-2 bg-green-400 bg-aztec text-white flex-wrap gap-6">
	<div>
		<p>Logo del Mariachi viajero por aquí</p>
		<p class="text-xl">El Mariachi Viajero</p>
	</div>
	<div>
		<p></p>
		<p>
			Dirección bien padre #123,<br>
			Los Programadores,<br>
			CDMX,<br>
			México, CP. 00000
		</p>
		<p class="font-light mt-2">Copyright &copy; El Mariachi Viajero 2021</p>
	</div>
	<div>
		<p class="lg:text-xl md:text-lg my-2">Síguenos</p>
		<div class="flex gap-4">
			<a href="https://facebook.com" target="_blank">
				<img class="w-6" src="assets/icons/facebook.svg" alt="Facebook" title="Facebook">
			</a>
			<a href="https://instagram.com" target="_blank">
				<img class="w-6" src="assets/icons/instagram.svg" alt="Instagram" title="Instagram">
			</a>
			<a href="https://twitter.com" target="_blank">
				<img class="w-6" src="assets/icons/twitter.svg" alt="Twitter" title="Twitter">
			</a>
		</div>

		<p class="lg:text-xl md:text-lg mt-4 mb-2">Contacto</p>
		<div class="flex flex-col gap-2">
			<div class="flex gap-2">
				<img class="w-6" src="assets/icons/phone.svg" alt="phone"/>
				<span>+52 5578 7878 78</span>
			</div>
			<div class="flex gap-2">
				<img class="w-6" src="assets/icons/mail.svg" alt="phone"/>
				<span>contacto@elmariachiviajero.com.mx</span>
			</div>
		</div>
	</div>
</footer>
