<app-heading [bgImage]="categoryInfo.category.img.url">
  <h1 class="heading-title">
    <span class="material-icons material-icons-outlined">{{categoryInfo.category.icon}}</span>
    {{categoryInfo.category.name}}
  </h1>
<!--  <h3 class="heading-subtitle">{{categoryInfo.category.abbr}}</h3>-->
</app-heading>
<div class="content-container">
  <div>
    <p class="text-center section-title">Promociones</p>
    <p>Promociones bien chidas de {{categoryInfo.category.name}} por aquí...</p>
  </div>

  <div>
    <p class="text-center section-title">Tours</p>
    <p>Tours bien chidos de {{categoryInfo.category.name}} por aquí...</p>
    <!--  <div class="grid grid-cols-1 gap-6 p-5 md:grid-cols-2 md:p-10 lg:grid-cols-3 lg:p-20 bg-white">-->
    <!--    <app-tour-item *ngFor="let tour of tours" [data]="tour"></app-tour-item>-->
    <!--  </div>-->
  </div>

  <div>
    <p class="text-center section-title">Paquetes</p>
    <p>Paquetes bien chidos en {{categoryInfo.category.name}} por aquí...</p>
  </div>
</div>
<!--<div class="grid grid-cols-1 gap-6 p-5 md:grid-cols-2 md:p-10 lg:grid-cols-3 lg:p-20 bg-white">-->
<!--  <app-tour-item *ngFor="let tour of tours" [data]="tour"></app-tour-item>-->
<!--</div>-->
