<app-heading [bgImage]="categoryInfo.category.img.url">
  <h1 class="heading-title">
    <span class="material-icons material-icons-outlined">{{categoryInfo.category.icon}}</span>
    {{categoryInfo.category.name}}
  </h1>
<!--  <h3 class="heading-subtitle">{{categoryInfo.category.abbr}}</h3>-->
</app-heading>
<div class="content-container">
<!--  <div>-->
<!--    <p class="text-center section-title">Promociones</p>-->
<!--    <p>Promociones bien chidas de {{categoryInfo.category.name}} por aquí...</p>-->
<!--  </div>-->

  <div>
    <p class="text-center section-title">Tours</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4" *ngIf="categoryInfo.tours.length > 0">
      <app-tour-card *ngFor="let tour of categoryInfo.tours" [data]="tour"></app-tour-card>
    </div>
    <p *ngIf="categoryInfo.tours.length === 0">Por el momento no hay tours para la categoría {{categoryInfo.category.name}}...</p>
  </div>

<!--  <div>-->
<!--    <p class="text-center section-title">Paquetes</p>-->
<!--    <p>Paquetes bien chidos en {{categoryInfo.category.name}} por aquí...</p>-->
<!--  </div>-->
</div>
<!--<div class="grid grid-cols-1 gap-6 p-5 md:grid-cols-2 md:p-10 lg:grid-cols-3 lg:p-20 bg-white">-->
<!--  <app-tour-card *ngFor="let tour of tours" [data]="tour"></app-tour-card>-->
<!--</div>-->
