<div (focusin)="toggle($event)"
     (focusout)="toggle($event)"
     (mouseenter)="toggle($event)"
     (mouseleave)="toggle($event)"
     (touchstart)="toggle($event)"
     (touchend)="toggle($event)"
     class="relative inline-block text-left h-full w-full select-none">
	<!-- template for nav options content -->
	<ng-template #aRef>
		<!-- only display the icon -->
		<img class="w-5 {{iconClasses}}" *ngIf="icon && iconPosition === 'fill'" src="{{icon}}" alt="">

		<!-- display icon and/or text -->
		<img class="w-5 ml-1 {{iconClasses}}" *ngIf="icon && iconPosition === 'left'" src="{{icon}}" alt=""/>
		<span class="flex-grow {{optionTxtClasses}}" *ngIf="optionTxt.length > 0">{{optionTxt}}</span>
		<img class="w-5 mr-1 {{iconClasses}}" *ngIf="icon && iconPosition === 'right'" src="{{icon}}" alt=""/>
	</ng-template>

	<!-- a tag for nav options without link -->
	<a class="h-full w-full flex items-center hover:bg-white hover:bg-opacity-80 transition duration-300 ease-in-out"
	   *ngIf="!link"
	   aria-haspopup="true">
		<ng-container *ngTemplateOutlet="aRef"></ng-container>
	</a>

	<!-- a tag for nav options with link -->
	<a class="h-full w-full flex items-center hover:bg-white hover:bg-opacity-80 transition duration-300 ease-in-out"
	   *ngIf="link"
	   routerLink="{{link}}"
	   routerLinkActive="text-green-500"
	   aria-haspopup="true">
		<ng-container *ngTemplateOutlet="aRef"></ng-container>
	</a>
	<!--	<div class="h-full w-full table hover:bg-white hover:bg-opacity-90">-->
	<!--		<a aria-expanded="true"-->
	<!--		   routerLink="{{this.link}}"-->
	<!--		   aria-haspopup="true"-->
	<!--		   class="h-full align-middle table-cell whitespace-nowrap {{optionTxtClasses}}">-->
	<!--			<span>{{optionTxt}}</span>-->
	<!--			<img class="w-2" *ngIf="iconPosition === 'right'" src="{{this.icon}}"/>-->
	<!--		</a>-->
	<!--	</div>-->


	<div #menu
	     [@openClose]="{value: isOpen ? 'open' : 'closed', params: { height: this.menuHeight }}"
	     aria-labelledby="menu-button"
	     aria-orientation="vertical"
	     class="origin-top-right absolute {{this.positionClasses}} w-36 md:w-40 shadow-lg"
	     role="menu"
	     tabindex="-1">
		<div class="relative flex flex-col items-stretch z-10 bg-white bg-opacity-80 backdrop-filter backdrop-blur">
			<ng-content></ng-content>
		</div>
	</div>
</div>
