<app-heading bgImage="https://images.pexels.com/photos/672358/pexels-photo-672358.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
  <h1 class="heading-title">Tours</h1>
  <h2 class="heading-subtitle">Excelentes tours para cualquier ocasión</h2>
</app-heading>
<div class="content-container">
  <app-tour-categories class="w-full"></app-tour-categories>
  <p class="text-center">¿Buscas un lugar específico? Revisa por <a class="link" routerLink="/ubicaciones">ubicaciones</a></p>
</div>
<!--<div class="grid grid-cols-1 gap-6 p-5 md:grid-cols-2 md:p-10 lg:grid-cols-3 lg:p-20 bg-white">-->
<!--  <app-tour-item *ngFor="let tour of tours" [data]="tour"></app-tour-item>-->
<!--</div>-->
