<app-heading bgImage="https://images.pexels.com/photos/672358/pexels-photo-672358.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
  <p class="heading-title text-4xl font-bold uppercase text-white ml-5 extravagant-text">Categorías</p>  
  <p class="heading-subtitle font-normal text-lg md:text-xl lg:text-xl">Contamos con tours para cualquier ocasión</p>
</app-heading>
<div class="content-container">
  <app-tour-categories class="w-full"></app-tour-categories>
  <p class="text-center">¿Buscas un lugar específico? Revisa por <a class="link" routerLink="/ubicaciones">ubicaciones</a></p>
</div>
<!--<div class="grid grid-cols-1 gap-6 p-5 md:grid-cols-2 md:p-10 lg:grid-cols-3 lg:p-20 bg-white">-->
<!--  <app-tour-card *ngFor="let tour of tours" [data]="tour"></app-tour-card>-->
<!--</div>-->
