<header [@hideShow]="navAnimationState"
        class="z-40 w-full h-12 bg-white bg-opacity-80 flex justify-between items-center pl-4 md:pl-6 lg:pl-8">
	<div>Mariachi viajero Imagen aquí</div>
	<nav class="flex justify-around w-full max-w-lg h-full relative">
		<app-nav-option class="h-full w-full mx-2"
		                optionTxt="Inicio"
		                optionTxtClasses="md:text-lg lg:text-xl text-center"></app-nav-option>
		<app-nav-option class="h-full w-full mx-2"
		                optionTxt="Tours"
		                optionTxtClasses="md:text-lg lg:text-xl text-center">
			<app-nav-option class="w-full h-full"
			                optionTxt="Románticos"
			                optionTxtClasses="px-3 py-2"
			                position="left"
			                icon="assets/icons/chevron-left.svg"
			                iconPosition="left">
				<app-nav-option class="w-full" optionTxt="Locación 1" optionTxtClasses="px-3 py-2"></app-nav-option>
				<app-nav-option class="w-full" optionTxt="Locación 2" optionTxtClasses="px-3 py-2"></app-nav-option>
			</app-nav-option>
			<app-nav-option class="w-full h-full"
			                optionTxt="Supersónicos"
			                optionTxtClasses="px-3 py-2"
			                position="left"
			                icon="assets/icons/chevron-left.svg"
			                iconPosition="left">
				<app-nav-option class="w-full" optionTxt="Locación 1" optionTxtClasses="px-3 py-2"></app-nav-option>
				<app-nav-option class="w-full" optionTxt="Locación 2" optionTxtClasses="px-3 py-2"></app-nav-option>
			</app-nav-option>
		</app-nav-option>
		<app-nav-option class="h-full w-full mx-2"
		                optionTxt="Nosotros"
		                optionTxtClasses="px-3 py-2 md:text-lg lg:text-xl text-center">
			<app-nav-option class="w-full" optionTxt="Contacto" optionTxtClasses="px-3 py-2"></app-nav-option>
			<app-nav-option class="w-full" optionTxt="Misión" optionTxtClasses="px-3 py-2"></app-nav-option>
			<app-nav-option class="w-full" optionTxt="Visión" optionTxtClasses="px-3 py-2"></app-nav-option>
		</app-nav-option>
		<app-nav-option class="h-full w-full mx-2"
		                optionTxt="Blog"
		                optionTxtClasses="md:text-lg lg:text-xl text-center"></app-nav-option>
	</nav>
</header>
