<header id="header" class="{{position}} top-0 flex h-12 justify-between items-center shadow z-40 w-full bg-white bg-opacity-70 pr-4 md:pl-6 lg:pl-8 backdrop-filter backdrop-blur flex-row-reverse md:flex-row">
	<div class="h-full flex">
		<img class="h-full w-full" src="assets/img/logoV4.png" alt="">
	</div>

	<!-- Nav bar for small screens -->
	<nav class="flex md:hidden justify-around h-full relative">
		<app-nav-option class="h-full w-full"
		                icon="assets/icons/menu.svg"
		                dropdownPosition="bottom-left"
		                iconPosition="fill"
		                iconClasses="w-14 px-3">
			<app-nav-option class="h-full w-full"
			                link="/inicio"
			                optionTxt="Inicio"
			                optionTxtClasses="px-3 py-2 md:text-lg lg:text-xl text-center"></app-nav-option>
			<app-nav-option class="h-full w-full"
			                optionTxt="Tours"
			                link="/tours"
			                dropdownPosition="right"
			                optionTxtClasses="px-3 py-2 md:text-lg lg:text-xl text-center">
				<app-nav-option class="w-full h-full"
				                link="/tours/romanticos"
				                optionTxt="Románticos"
				                optionTxtClasses="px-3 py-2"
				                dropdownPosition="right"
				                icon="assets/icons/chevron-right.svg"
				                iconPosition="right">
					<app-nav-option class="w-full"
					                link="/tours/romanticos/loc1"
					                optionTxt="Locación 1"
					                optionTxtClasses="px-3 py-2"></app-nav-option>
					<app-nav-option class="w-full"
					                link="/tours/romanticos/loc2"
					                optionTxt="Locación 2"
					                optionTxtClasses="px-3 py-2"></app-nav-option>
				</app-nav-option>
				<app-nav-option class="w-full h-full"
				                link="/tours/supersonicos"
				                optionTxt="Supersónicos"
				                optionTxtClasses="px-3 py-2"
				                dropdownPosition="right"
				                icon="assets/icons/chevron-right.svg"
				                iconPosition="right">
					<app-nav-option class="w-full"
					                link="/tours/supersonicos/loc1"
					                optionTxt="Locación 1"
					                optionTxtClasses="px-3 py-2"></app-nav-option>
					<app-nav-option class="w-full"
					                link="/tours/supersonicos/loc2"
					                optionTxt="Locación 2"
					                optionTxtClasses="px-3 py-2"></app-nav-option>
				</app-nav-option>
			</app-nav-option>
			<app-nav-option class="h-full w-full"
			                link="/tours/supersonicos"
			                optionTxt="Nosotros"
			                dropdownPosition="right"
			                optionTxtClasses="px-3 py-2 md:text-lg lg:text-xl text-center">
				<app-nav-option class="w-full"
				                link="/nosotros#contacto"
				                optionTxt="Contacto"
				                optionTxtClasses="px-3 py-2"></app-nav-option>
				<app-nav-option class="w-full"
				                link="/nosotros#mision"
				                optionTxt="Misión"
				                optionTxtClasses="px-3 py-2"></app-nav-option>
				<app-nav-option class="w-full"
				                link="/nosotros#vision"
				                optionTxt="Visión"
				                optionTxtClasses="px-3 py-2"></app-nav-option>
			</app-nav-option>
			<app-nav-option class="h-full w-full"
			                link="/blog"
			                optionTxt="Blog"
			                optionTxtClasses="px-3 py-2 md:text-lg lg:text-xl text-center"></app-nav-option>
		</app-nav-option>
	</nav>

	<!-- Nav bar for medium+ screens -->
	<nav class="hidden md:flex justify-around w-full max-w-lg h-full relative">
		<app-nav-option class="h-full w-full mx-2"
		                link="/inicio"
		                optionTxt="Inicio"
		                optionTxtClasses="px-3 py-2 md:text-lg lg:text-xl text-center"></app-nav-option>
		<app-nav-option class="h-full w-full mx-2"
		                optionTxt="Tours"
		                link="/tours"
		                optionTxtClasses="px-3 py-2 md:text-lg lg:text-xl text-center">
			<app-nav-option class="w-full h-full"
			                link="/tours/romanticos"
			                optionTxt="Románticos"
			                optionTxtClasses="px-3 py-2"
			                dropdownPosition="left"
			                icon="assets/icons/chevron-left.svg"
			                iconPosition="left">
				<app-nav-option class="w-full"
				                link="/tours/romanticos/loc1"
				                optionTxt="Locación 1"
				                optionTxtClasses="px-3 py-2"></app-nav-option>
				<app-nav-option class="w-full"
				                link="/tours/romanticos/loc2"
				                optionTxt="Locación 2"
				                optionTxtClasses="px-3 py-2"></app-nav-option>
			</app-nav-option>
			<app-nav-option class="w-full h-full"
			                link="/tours/supersonicos"
			                optionTxt="Supersónicos"
			                optionTxtClasses="px-3 py-2"
			                dropdownPosition="left"
			                icon="assets/icons/chevron-left.svg"
			                iconPosition="left">
				<app-nav-option class="w-full"
				                link="/tours/supersonicos/loc1"
				                optionTxt="Locación 1"
				                optionTxtClasses="px-3 py-2"></app-nav-option>
				<app-nav-option class="w-full"
				                link="/tours/supersonicos/loc2"
				                optionTxt="Locación 2"
				                optionTxtClasses="px-3 py-2"></app-nav-option>
			</app-nav-option>
		</app-nav-option>
		<app-nav-option class="h-full w-full mx-2"
		                link="/tours/supersonicos"
		                optionTxt="Nosotros"
		                optionTxtClasses="px-3 py-2 md:text-lg lg:text-xl text-center">
			<app-nav-option class="w-full"
			                link="/nosotros#contacto"
			                optionTxt="Contacto"
			                optionTxtClasses="px-3 py-2"></app-nav-option>
			<app-nav-option class="w-full"
			                link="/nosotros#mision"
			                optionTxt="Misión"
			                optionTxtClasses="px-3 py-2"></app-nav-option>
			<app-nav-option class="w-full"
			                link="/nosotros#vision"
			                optionTxt="Visión"
			                optionTxtClasses="px-3 py-2"></app-nav-option>
		</app-nav-option>
		<app-nav-option class="h-full w-full mx-2"
		                link="/blog"
		                optionTxt="Blog"
		                optionTxtClasses="px-3 py-2 md:text-lg lg:text-xl text-center"></app-nav-option>
	</nav>
</header>
