
<div class="mt-20 w-full h-60 text-center flex flex-col justify-end items-start gap-4 bg-cover bg-center"
    title="Image goes here" style="background-image: url('https://images.pexels.com/photos/604661/pexels-photo-604661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
    <div class="m-auto">
    <p class="text-5xl font-bold uppercase text-white ml-5">Lugar del tour</p>
    </div>
</div>
<div class="p-16">
    <div class="w-full">
        <p class="text-4xl font-semibold text-green-500">Nombre del tour</p>
        <p class="text-xl font-medium text-green-500 mt-5">Precio(MXN)/Persona: <span class="font-xs text-gray-500">$320.00</span></p>
    </div>
    <div class="w-full mt-8">
        <p class="text-sm font-light text-gray-500 text-justify">Descripción. Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="mt-10 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
        <div class="">
            <img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
        </div>
        <div>
            <img src="https://images.pexels.com/photos/1268855/pexels-photo-1268855.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
        </div>
        <div>
            <img src="https://images.pexels.com/photos/1285625/pexels-photo-1285625.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
        </div>
    </div>
    <div class="mt-5">
        <p class="text-xl font-light text-gray-500 text-justify5">Contáctanos para conocer más sobre el Tour</p>
        <div class="mt-4 flex flex-col gap-2">
            <div class="flex gap-2">
                <img class="w-6" src="assets/icons/phoneGray.svg" alt="phone"/>
                <span class="text-md font-xs text-gray-500 text-justify5">+52 5578 7878 78</span>
            </div>
            <div class="flex gap-2">
                <img class="w-6" src="assets/icons/mailGray.svg" alt="phone"/>
                <span class="text-md font-xs text-gray-500 text-justify5">contacto@elmariachiviajero.com.mx</span>
            </div>
        </div>
    </div>
</div>
