<div class="flex shadow-md hover:shadow-lg transition-shadow flex-col bg-white rounded-lg gap-5">
  <div class="h-40 w-full bg-cover bg-center relative" [style]="bgImageStyle">
    <a class="absolute bottom-0 left-0 px-2 py-1 bg-black bg-opacity-50 text-white hover:underline"
       title="Ciudad de México"
       routerLink="/lugar/dshfooweow">
      CDMX
    </a>
    <p class="absolute bottom-0 right-0 px-2 py-1 bg-black bg-opacity-50 text-white">{{data.price}}</p>
  </div>
  <div class="flex flex-col items-start px-4 lg:px-6 gap-3">
    <div class="w-full flex flex-wrap justify-center items-center gap-2">
      <a *ngFor="let category of tourCategories"
         class="px-2 py-1 text-sm rounded-full bg-green-200 hover:underline"
         routerLink="/tours/{{category.id}}">
        {{category.name}}
      </a>
    </div>
    <p class="text-xl font-md text-green-500">{{data.name}}</p>
    <p class="text-sm font-light text-gray-500">{{data.shortDescription}}</p>
  </div>
  <div class="w-full flex flex-col items-center mb-5">
      <a class="btn" [routerLink]="[link]">Ver tour</a>
      <!--<a class="p-2 leading-none rounded-lg font-medium mt-3 bg-green-500 text-xs text-white uppercase" href="#">Ver tour</a>-->
  </div>
</div>
