<div class="flex shadow-lg flex-col bg-white rounded-lg m-2">
    <div class="h-40 w-full bg-cover bg-center" style="
    background-image: url(https://images.pexels.com/photos/3591074/pexels-photo-3591074.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    "></div>
    <div class="flex flex-col items-start m-4">
        <p class="text-xl font-md text-red-500">Titulo del tour</p>
        <p class="text-sm font-xs text-gray-500 tracking-widest">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
    </div>
    <div class="w-full flex flex-col items-center mb-5">
        <a class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full" href="1/tour-details">
            Ver tour
        </a>
        <!--<a class="p-2 leading-none rounded-lg font-medium mt-3 bg-red-500 text-xs text-white uppercase" href="#">Ver tour</a>-->
    </div>
</div>