<footer class="w-full bg-green-400 bg-aztec text-white">
	<div class="w-11/12 mx-auto md:py-5">
		<div class="grid justify-center justify-items-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
			<!-- EMV logo -->
			<div class="flex flex-col gap-8">
				<img class="mx-auto w-1/2" src="assets/img/logoV9White.svg" alt="">
				<p class="text-left md:text-justify">
					El Mariachi Viajero agradece tu preferencia.
					Seguiremos trabajando duro para ofrecerte el mejor servicio.
				</p>
			</div>

			<!-- Contact info -->
			<div class="flex flex-col gap-6">
				<p class="text-2xl md:text-3xl font-bold">Links</p>
				<ul class="flex flex-col gap-2 list-disc">
					<li>Los 5 lugares más visitados en México</li>
					<li>Conoce el Palacio de Bellas Artes</li>
					<li>Descubre los publos mágicos en México</li>
					<li>las catedrales más emblemáticas en México</li>
				</ul>
			</div>

			<!-- Social Media & Contact -->
			<div class="col-span-1 md:col-span-2 lg:col-span-1 flex flex-col gap-10">
				<!-- Social Media -->
				<div class="w-full flex flex-col gap-4">
					<p class="text-2xl md:text-3xl font-bold">Síguenos</p>
					<div class="flex gap-4">
						<a href="https://facebook.com" target="_blank">
							<img class="w-6" src="assets/icons/facebook.svg" alt="Facebook" title="Facebook">
						</a>
						<a href="https://instagram.com" target="_blank">
							<img class="w-6"
							     src="assets/icons/instagram.svg"
							     alt="Instagram"
							     title="Instagram">
						</a>
						<a href="https://twitter.com" target="_blank">
							<img class="w-6" src="assets/icons/twitter.svg" alt="Twitter" title="Twitter">
						</a>
					</div>
				</div>

				<!-- Contact -->
				<div class="flex flex-col gap-4">
					<p class="text-2xl md:text-3xl font-bold">Contacto</p>
					<div class="flex gap-2">
						<mat-icon class="w-6">place</mat-icon>
						<span class="font-bold italic">
							Dirección bien padre #123,
							Los Programadores,
							CDMX,
							México, CP. 00000
						</span>
					</div>
					<div class="flex gap-2">
						<mat-icon class="w-6">phone</mat-icon>
						<span>{{CONTACT_PHONE_NUMBER}}</span>
					</div>
					<div class="flex gap-2">
						<mat-icon class="w-6">email</mat-icon>
						<span>{{CONTACT_EMAIL}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="w-full bg-green-500 text-center p-3">
		<p class="font-light">Copyright &copy; El Mariachi Viajero 2021</p>
	</div>
</footer>
