<!-- Contact form -->
<div [@openClose]="isOpen ? 'open' : 'closed'"
     class="w-full h-full md:min-w-min md:w-96 md:max-w-xl md:h-auto max-h-screen flex flex-col fixed bottom-0 right-0 md:bottom-6 md:right-6 md:bg-white md:bg-opacity-80 bg-opacity-95-no-blur backdrop-filter backdrop-blur z-50 md:z-30 md:shadow-2xl rounded justify-center items-center">
	<!-- overlay for small screens -->
	<div class="md:hidden bg-black absolute w-full h-full z-0 bg-opacity-25 bg-opacity-50-no-blur backdrop-filter backdrop-blur"
	     (click)="toggle()">
	</div>

	<div class="bg-white bg-opacity-80 relative rounded md:bg-transparent z-10 w-11/12 md:w-full md:h-full">
		<div class="w-full flex justify-between gap-2 px-5 py-3">
			<img class="w-10 h-auto" src="assets/img/logoV9.png" alt="EMV">
			<p class="text-xl">Déjanos ayudarte</p>
			<button title="Cerrar" (click)="toggle()">
				<mat-icon class="w-8">close</mat-icon>
			</button>
		</div>

		<!-- this is the actual form that will be sent to netlify, not the form at the end of this file -->
		<form class="w-full flex flex-col gap-2 px-3"
		      [formGroup]="form"
		      (ngSubmit)="onSubmit()"
		      ngNativeValidate>
			<input type="hidden" name="form-name" value="contact"/>
			<app-input class="flex flex-col"
			           name="name"
			           placeholder="Benjamín Guzmán"
			           label="Nombre"
			           formControlName="name"
			           [required]="true"></app-input>
			<app-input class="flex flex-col"
			           name="email"
			           placeholder="benjamin@example.com"
			           label="Correo electrónico"
			           formControlName="email"
			           type="email"
			           [required]="true"></app-input>
			<app-input class="flex flex-col"
			           name="message"
			           placeholder="Quiero cotizar un tour para mí y mi novia..."
			           label="¿En qué te podemos ayudar?"
			           formControlName="message"
			           [required]="true"
			           [isTextArea]="true"></app-input>
			<div class="flex items-center flex-wrap">
				<app-input class="flex flex-col flex-grow w-auto md:w-full"
				           name="phone"
				           placeholder="+52 55 5555 5555"
				           type="tel"
				           label="Número telefónico"
				           formControlName="phone"></app-input>
				<fieldset>
					<label class="font-light">Contáctame por </label>
					<select name="contact-via"
					        class="bg-transparent"
					        formControlName="contact-via"
					        [ngClass]="{'text-gray-400': !isContactViaEnabled}"
					        [disabled]="!isContactViaEnabled">
						<option value="Whatsapp">Whatsapp</option>
						<option value="Telegram">Telegram</option>
						<option value="Signal">Signal</option>
						<option value="SMS">SMS</option>
					</select>
				</fieldset>
			</div>
			<!--		<p class="text-white text-center">Nuestra información de contacto</p>-->
			<!--		<div class="w-full mx-auto text-white text-sm">-->
			<!--			<div class="flex justify-center gap-1">-->
			<!--				<mat-icon class="w-6">phone</mat-icon>-->
			<!--				<span>{{CONTACT_PHONE_NUMBER}}</span>-->
			<!--			</div>-->
			<!--			<div class="flex justify-center gap-1">-->
			<!--				<mat-icon class="w-6">email</mat-icon>-->
			<!--				<span>{{CONTACT_EMAIL}}</span>-->
			<!--			</div>-->
			<!--		</div>-->
			<input class="hidden" name="honey" formControlName="honey"/> <!-- Honeypot field -->
			<!--		<div data-netlify-recaptcha="true"></div>-->
			<div class="w-full flex justify-around text-white py-3">
				<button type="submit" class="flex gap-2 px-3 py-2 bg-green-500 rounded-full rounded-full">
					<mat-icon>send</mat-icon>
					<span>Enviar</span>
				</button>
			</div>
		</form>
	</div>
</div>

<!-- Success dialog -->
<app-dialog #successDialog title="¡Gracias por tu mensaje!">
	<div class="flex flex-col gap-4">
		<p class="text-lg">
			Responderemos en máximo 5 horas al correo <span class="font-medium">{{formControls.email.value}}</span>
			<span *ngIf="formControls.phone.value">&nbsp;o al teléfono <span class="font-medium">{{formControls.phone.value}}</span></span>
		</p>
		<p class="text-sm">
			Recibirás un correo de <span class="font-medium">{{CONTACT_EMAIL}}</span>
			<span *ngIf="formControls.phone.value">&nbsp;o un mensaje a&nbsp;
				<span class="font-medium">{{formControls["contact-via"].value}}</span> de <span class="font-medium">{{CONTACT_PHONE_NUMBER}}</span>
			</span>
		</p>
		<p class="text-sm">
			Por lo pronto te invitamos a revisar nuestro&nbsp;
			<a routerLink="/blog"
			   class="text-blue-600 hover:underline"
			   (click)="successDialog.close()">blog</a>&nbsp;
			para que conozcas más de México
		</p>
	</div>
</app-dialog>

<button (click)="toggle()"
        [@openClose]="isOpen ? 'closed' : 'open'"
        class="w-14 h-14 bg-green-500 rounded-full flex justify-center items-center fixed bottom-6 right-6 z-30 shadow-lg"
        title="Contacto">
	<mat-icon class="w-2/3 text-white">chat</mat-icon>
</button>

<!-- Contact via chat icons -->
<div class="fixed bottom-20 right-6 z-30 flex flex-col justify-around gap-2 pb-2 w-10"
     [@openClose]="isOpen ? 'closed' : 'open'">
	<a href="https://wa.me/5571132221?text={{WA_MESSAGE}}" target="_blank">
		<img src="assets/icons/whatsapp.svg" alt="WhatsApp" title="WhatsApp" class="w-10">
	</a>
	<!--	<a href="https://t.me/emv" target="_blank">-->
	<!--		<img src="assets/icons/telegram.svg" alt="Telegram" title="Telegram" class="w-10">-->
	<!--	</a>-->
</div>

<!-- Form for netlify builder -->
<!--Netlify builder has problems identifying the form field in the actual form-->
<!--This is why this is added. To facilitate netlify builder-->
<form class="hidden"
      name="contact"
      data-netlify="true"
      netlify-honeypot="honey">
	<input type="hidden" name="form-name" value="contact"/>
	<input type="hidden" name="name">
	<input type="hidden" name="email">
	<input type="hidden" name="message">
	<input type="hidden" name="phone">
	<input type="hidden" name="contact-via">
	<input type="hidden" name="honey">
</form>
