<app-nav class="absolute pointer-events-none block w-full min-h-full" type="contact-bar"></app-nav>

<!-- Carousel -->
<div class="w-full h-screen bg-aztec bg-green-100 relative">
	<swiper class="w-full h-full" [pagination]="true" [navigation]="true" #carousel>
		<!-- Welcome slide -->
		<ng-template swiperSlide>
		  <div class="w-full h-full text-center flex flex-col justify-center items-center gap-4 md:gap-8 bg-cover bg-center pt-20"
			   style="background-image: url('../../../assets/img/mv2.png')">
			<div class="flex flex-col gap-y-4 md:gap-y-5 lg:gap-y-6 justify-center items-center text-center text-white z-20">
				<div class="w-full flex flex-wrap gap-4 items-center justify-center">
					<p class="text-2xl md:text-4xl lg:text-7xl uppercase extravagantText">
						<span class="font-medium">El </span>
						<span class="font-bold">Mariachi </span>
						<span class="font-medium">Viajero</span>
					</p>
				</div>
				<div class="px:14 md:px:24 lg:px-64">
					<p class="font-normal text-lg md:text-xl lg:text-xl">
						Nos dedicamos a realizar todo tipo de transportación turística a nivel
						nacional, con la calidad y garantía que usted y sus familiares merecen.
					</p>
				</div>
				<div class="w-full flex flex-col items-center">
					<a href="#" class="py-4 px-12 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 border border-green-600 rounded">
						Ver Tours
					</a>
				</div>
			</div>

	
			<!-- add an overlay to darken the image -->
			<div class="z-10 bg-black bg-opacity-50 absolute w-full h-full pointer-events-none"></div>
		  </div>
		</ng-template>
		<!-- Welcome slide -->
		<!-- Welcome slide -->
		<ng-template swiperSlide>
			<div class="w-full h-full text-center flex flex-col justify-center items-center gap-4 md:gap-8 bg-cover bg-center pt-20"
				 style="background-image: url('../../../assets/img/mv5.png')">
				<div class="flex flex-col gap-y-4 md:gap-y-5 lg:gap-y-6 justify-center items-center text-center text-white z-20">
					<div class="w-full flex flex-wrap gap-4 items-center justify-center">
						<p class="text-2xl md:text-4xl lg:text-6xl uppercase extravagantText">
							<span class="font-light">Nuestros </span>
							<span class="font-bold">Servicios </span>
						</p>
					</div>
				  	<div class="px:14 md:px:24 lg:px-48">
					  	<p class="font-normal text-lg md:text-xl lg:text-2xl">
							Transportación para todo tipo de necesidades y gustos individuales, familiares o grupales.
						</p>
					</div>
					<div class="w-full flex flex-col items-center">
						<a href="#" class="py-4 px-12 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 border border-green-600 rounded">
							Ver Tours
						</a>
					</div>
			  	</div>
				<!-- add an overlay to darken the image -->
				<div class="z-10 bg-black bg-opacity-50 absolute w-full h-full pointer-events-none"></div>
			</div>
		</ng-template>
		<ng-template swiperSlide>
			<div class="w-full h-full text-center flex flex-col justify-center items-center gap-4 md:gap-8 bg-cover bg-center pt-20"
				 style="background-image: url('../../../assets/img/mv4.png')">
				<div class="flex flex-col gap-y-4 md:gap-y-5 lg:gap-y-6 justify-center items-center text-center text-white z-20">
					<div class="w-full flex flex-wrap gap-4 items-center justify-center">
						<p class="text-2xl md:text-4xl lg:text-6xl uppercase">
							<span class="font-light">Descubre </span>
							<span class="font-bold">México </span>
						</p>
					</div>
				  	<div class="px-56">
					  	<p class="font-medium text-lg md:text-xl lg:text-2xl">
							Conoce sus museos, monumentos y la increíble gastronomía que espera por tí.
						</p>
					</div>
					<div class="w-full flex flex-col items-center">
						<a href="#" class="py-4 px-12 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 border border-green-600 rounded">
							Ver Tours
						</a>
					</div>
			  	</div>
				<!-- add an overlay to darken the image -->
				<div class="z-10 bg-black bg-opacity-50 absolute w-full h-full pointer-events-none"></div>
			</div>
		</ng-template>
		<ng-template swiperSlide>
			<div class="w-full h-full text-center flex flex-col justify-center items-center gap-4 md:gap-8 bg-cover bg-center pt-20"
				 style="background-image: url('../../../assets/img/mv1.png')">
				<div class="flex flex-col gap-y-4 md:gap-y-5 lg:gap-y-6 justify-center items-center text-center text-white z-20">
					<div class="w-full flex flex-wrap gap-4 items-center justify-center">
						<p class="text-2xl md:text-4xl lg:text-6xl uppercase">
							<span class="font-light">El </span>
							<span class="font-bold">Hombre </span>
							<span class="font-light">y El </span>
							<span class="font-bold">Turismo </span>
						</p>
					</div>
				  	<div class="px-28">
					  	<p class="font-medium text-lg md:text-xl lg:text-2xl">
							Las necesidades del hombre a través de la historia han sido viajar,
							y trasladarse en búsqueda de nuevas aventuras.
						</p>
					</div>
					<div class="w-full flex flex-col items-center">
						<a href="#" class="py-4 px-12 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 border border-green-600 rounded">
							Ver Tours
						</a>
					</div>
			  	</div>
				<!-- add an overlay to darken the image -->
				<div class="z-10 bg-black bg-opacity-50 absolute w-full h-full pointer-events-none"></div>
			</div>
		</ng-template>
	</swiper>
	<!--	<div class="absolute bottom-6 w-full flex justify-center z-20">-->
	<!--		<span class="material-icons material-icons-outlined max-w-sm w-8 margin-auto animate-bounce">expand_more</span>-->
	<!--	</div>-->
</div>
<div class="w-5/6 mx-auto border-l-4 border-black px-5 mt-14">
	<p class="text-2xl text-black md:text-3xl lg:text-4xl">
		Tu <span class="font-semibold">RECREACIÓN</span> es nuestra obligación
	</p>
	<p class="mt-5 text-md font-light text-left text-gray-500 tracking-widest">
		Tus valoraciones ayudarán a nuestro <span class="font-semibold">crecimiento</span> y tus recomendaciones
		nos motivarán a ser cada día más <span class="font-semibold">profesionales</span> con cada uno de
		nuestros clientes.
	</p>
</div>

<!-- Promociones -->
<div class="w-5/6 mx-auto text-center mt-16">
	<p class="text-md font-semibold italic text-green-500 md:text-md lg:text-2xl extravagantText">
		Viaja a buen precio
	</p>
	<p class="font-semibold text-black text-2xl md:text-3xl lg:text-4xl mt-2">
		Conoce nuestras increíbles promociones
	</p>
</div>
<div class="w-5/6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2 mt-10">
	<div *ngFor="let promo of promotions.slice(0, 3)">
		<app-promotion-card [promotion]="promo"></app-promotion-card>
	</div>
</div>
<div class="flex justify-center items-center mt-10">
	<a routerLink="/promociones" class="btn py-4 px-12 ">
		Ver todas las promociones
	</a>
</div>

<!-- <div class="grid grid-cols-1 p-0 m-0 md:grid-cols-2 lg:grid-cols-3 bg-white mt-16">
	<div class="h-full bg-cover bg-center"
	     title="Image goes here"
	     style="background-image: url('https://images.pexels.com/photos/3722817/pexels-photo-3722817.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');">

	</div>
	<div id="whoWeAre" class="p-12 bg-green-400">
		<p class="text-2xl font-semibold uppercase text-white text-left">El hombre y el turismo</p>
		<p class="mt-5 text-left  font-sm text-white tracking-widest">
			Las necesidades del hombre a través de la historia han sido viajar,
			trasladarse de un lugar a otro solo con el afán de conocer,
			divertirse y sentirse satisfecho con los conocimientos adquiridos
			en sus aventuras.
		</p>
	</div>
	<div class="bg-cover bg-center block"
	     title="Image goes here"
	     style="background-image: url('https://images.pexels.com/photos/784707/pexels-photo-784707.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
	</div>
</div> -->

<!-- Paquetes -->
<div class="w-5/6 mx-auto text-center mt-16">
	<p class="text-lg font-semibold italic text-green-500 md:text-md lg:text-2xl extravagantText">
		Todo en uno
	</p>
	<p class="font-semibold text-black text-2xl md:text-3xl lg:text-4xl">
		Conoce nuestros paquetes y lo que incluyen
	</p>
</div>
<div *ngFor="let pack of packs.slice(0, 3)">
	<app-pack-card [pack]="pack"></app-pack-card>
</div>
<div class="flex justify-center items-center mt-10">
	<a routerLink="/paquetes" class="btn py-4 px-12 ">
		Ver todos los paquetes
	</a>
</div>

<!-- Tours por categoría -->
<div class="w-5/6 mx-auto text-center mt-16">
	<p class="text-lg font-semibold italic text-green-500 md:text-md lg:text-2xl extravagantText">
		¿No sabes que tipo de viaje elegir?
	</p>
	<p class="text-2xl font-semibold text-black md:text-3xl lg:text-4xl">
		Conoce nuestras categorías de Tours
	</p>
</div>
<div class="w-5/6 mx-auto container mt-10">
	<app-tour-categories class="w-full"></app-tour-categories>
</div>



<!-- Tours por ubicación -->
<!-- Tours por categoría -->
<div class="w-5/6 mx-auto text-center mt-16">
	<p class="text-lg font-semibold italic text-green-500 md:text-md lg:text-2xl extravagantText">
		¿No sabes a dónde ir?
	</p>
	<p class="text-2xl font-semibold text-black md:text-3xl lg:text-4xl">
		Conoce nuestras ubicaciones
	</p>
</div>
<div class="w-5/6 mx-auto mt-10 ">
  <app-states></app-states>
</div>



<!-- Promociones -->
<!--<div class="w-5/6 mx-auto p-5 text-center border-b-4 border-gray-600">-->
<!--	<p class="text-2xl font-light uppercase text-black md:text-3xl lg:text-4xl">-->
<!--		<span class="font-semibold">Promociones</span> del mes-->
<!--	</p>-->
<!--</div>-->
<!--<p class="text-center">PROMOCIONSOTAS POR AQUÍ</p>-->

<div id="contacto" class="p-10 grid grid-cols-1 p-0 m-0 md:grid-cols-2 md:p-16 lg:grid-cols-2 lg:p-20">
	<p class="text-2xl font-light uppercase text-black md:text-3xl lg:text-4xl">
		<span class="text-2xl font-semibold uppercase text-black md:text-3xl lg:text-4xl">Contáctanos.</span>
		Será un gusto atenderte y descubrir cuál es el viaje que necesitas.
	</p>
	<div class="m-5">
		<div class="mt-4 flex flex-col gap-2">
			<div class="flex gap-2 text-gray-500">
				<span class="material-icons material-icons-outlined w-6">phone</span>
				<span class="text-sm">+52 5578 7878 78</span>
			</div>
			<div class="flex gap-2 text-gray-500">
				<span class="material-icons material-icons-outlined w-6">email</span>
				<span class="text-sm">contacto@elmariachiviajero.com.mx</span>
			</div>
		</div>
	</div>
</div>
