<div class="w-full h-60 text-center flex flex-col justify-end items-start gap-4 bg-cover bg-center"
     title="Image goes here"
     style="background-image: url('https://images.pexels.com/photos/3722817/pexels-photo-3722817.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');">
	<div class="m-auto">
		<p class="text-5xl font-bold uppercase text-white ">¡Conoce México y sus bellezas!</p>
	</div>
</div>
<div class="p-20 lg:px-20">
	<!-- First 3 posts --->
	<div class="w-full flex flex-row flex-wrap content-center">
		<div class="w-full flex-grow md:w-3/4 lg:w-3/4 p-3">
			<p class="mt-5 text-2xl font-light uppercase text-black md:text-2xl md:mt-0 lg:text-2xl lg:mt-0">
				Los <span class="text-2xl font-black uppercase text-black md:text-2xl lg:text-2xl">
                pueblos Mágicos </span> más visitados en México.
			</p>
			<p class="mt-8 text-gray-500 font-light tracking-widest">
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet aspernatur quos dolor exercitationem
				voluptatem ipsa maiores reiciendis quia quae labore, vero, sint enim dignissimos? Est quidem optio
				consectetur magni alias.
			</p>
			<div class="mt-10 grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
				<div class="">
					<img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
					     alt="">
				</div>
                <div>
                    <img src="https://images.pexels.com/photos/1268855/pexels-photo-1268855.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                </div>
                <div>
                    <img src="https://images.pexels.com/photos/1285625/pexels-photo-1285625.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                </div>
            </div>
            <p class="mt-8 text-gray-500 font-light tracking-widest">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet aspernatur quos dolor exercitationem voluptatem ipsa maiores reiciendis quia quae labore, vero, sint enim dignissimos? Est quidem optio consectetur magni alias.
            </p>
            <p class="mt-8 text-gray-500 font-light tracking-widest">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet aspernatur quos dolor exercitationem voluptatem ipsa maiores reiciendis quia quae labore, vero, sint enim dignissimos? Est quidem optio consectetur magni alias.
            </p>
        </div>
		<div class="w-full flex-grow md:w-1/4 lg:w-1/4 p-3">
			<p class="mt-5 text-2xl font-light uppercase text-black md:text-2xl md:mt-0 lg:text-2xl lg:mt-0">
				Los <span class="text-2xl font-black uppercase text-black md:text-2xl lg:text-2xl">
                monumentos</span> más emblemáticos
			</p>
			<div class="mt-10">
				<div class="">
					<img src="https://images.pexels.com/photos/1371360/pexels-photo-1371360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
					     alt="">
				</div>
			</div>
			<p class="mt-8 text-gray-500 font-light tracking-widest">
				Contamos con la <span class="font-bold">mejor capacitación</span>
				para desempeñar nuestra labor como <span class="font-bold">guías
                turísticos</span> de manera que nuestros clientes puedan
				<span class="font-bold">disfrutar, conocer, degustar</span> y
				<span class="font-bold">admirar</span> todas las bellezas
				que <span class="font-bold">México</span> ofrece.
			</p>
		</div>
	</div>
</div>
