<div class="bg-gray-100">
    <div class="bg-cover bg-center" style="background-image: url('https://images.pexels.com/photos/3278215/pexels-photo-3278215.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')">
        <h1>Tipo de tour</h1>
    </div>
    
    <div class="flex flex-wrap bg-gray-100 grid grid-cols-1 md:grid-cols-2 gap-4 lg:grid-cols-3 gap-4">
        <mat-card class="shadow-md flex flex-col justify-between bg-white">
            <mat-card-header class="w-full expert-card-header">
                <div>
                    <img src="" alt="">
                </div>
            </mat-card-header>
            <mat-card-content>
              <div class="flex flex-row my-1">
                  <p>Titulo del tour</p>
                  <p>Descripción del tour</p>
              </div>
            </mat-card-content>
            <mat-card-actions class="w-full flex-force flex-row align-middle items-center justify-around">
              <button>
                <!--<mat-icon>edit</mat-icon>-->
                <span class="mx-1 uppercase">EDITAR</span>
              </button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="shadow-md flex flex-col justify-between bg-white">
            <mat-card-header class="w-full expert-card-header">
                <div>
                    <img src="" alt="">
                </div>
            </mat-card-header>
            <mat-card-content>
              <div class="flex flex-row my-1">
                  <p>Titulo del tour</p>
                  <p>Descripción del tour</p>
              </div>
            </mat-card-content>
            <mat-card-actions class="w-full flex-force flex-row align-middle items-center justify-around">
              <button>
                <!--<mat-icon>edit</mat-icon>-->
                <span class="mx-1 uppercase">EDITAR</span>
              </button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="shadow-md flex flex-col justify-between bg-white">
            <mat-card-header class="w-full expert-card-header">
                <div>
                    <img src="" alt="">
                </div>
            </mat-card-header>
            <mat-card-content>
              <div class="flex flex-row my-1">
                  <p>Titulo del tour</p>
                  <p>Descripción del tour</p>
              </div>
            </mat-card-content>
            <mat-card-actions class="w-full flex-force flex-row align-middle items-center justify-around">
              <button>
                <!--<mat-icon>edit</mat-icon>-->
                <span class="mx-1 uppercase">EDITAR</span>
              </button>
            </mat-card-actions>
        </mat-card> 
    </div>
</div>

