<div class="mt-20 w-full h-60 text-center flex flex-col justify-end items-start gap-4 bg-cover bg-center"
     title="Image goes here" style="background-image: url('https://images.pexels.com/photos/604661/pexels-photo-604661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
    <div class="m-auto">
      <p class="text-5xl font-bold uppercase text-white ml-5">Aventura</p>  
    </div>
  </div>
  <div class="grid grid-cols-1 gap-6 p-5 md:grid-cols-2 md:p-10 lg:grid-cols-3 lg:p-20 bg-white">
    <app-tour-item class=""></app-tour-item>
    <app-tour-item class=""></app-tour-item>
    <app-tour-item class=""></app-tour-item>
    <app-tour-item class=""></app-tour-item>
</div>

  
  
	
