<div class="mt-20 w-full h-60 text-center flex flex-col justify-end items-start gap-4 bg-cover bg-center"
     title="Image goes here" style="background-image: url('https://images.pexels.com/photos/3722817/pexels-photo-3722817.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');">
    <div class="m-auto">
      <p class="text-5xl font-bold uppercase text-white ">¡Viaja con nosotros!</p>  
    </div>
</div>
<div class="p-10 grid grid-cols-1 p-0 m-0 md:grid-cols-2 md:p-16 lg:grid-cols-2 lg:p-20">
    <div class="">
        <p class="text-2xl font-light uppercase text-black md:text-3xl lg:text-4xl">
            Un <span class="text-2xl font-black uppercase text-black md:text-3xl lg:text-4xl">
            servicio</span> a tu <span class="text-2xl font-black uppercase text-black md:text-3xl lg:text-4xl">
            medida</span>.
        </p>
        <p class="mt-8 font-xs text-gray-500 font-light tracking-widest">
            Contamos con el servicio de <span class="font-bold">transportación turística</span> para todo tipo de
			<span class="font-bold">necesidades</span> y gustos individuales, familiares o grupales.
        </p>
    </div>
    <div></div>
</div>
<div class="grid grid-cols-1 p-0 m-0 md:grid-cols-2 lg:grid-cols-3 bg-white">
    <!--Who we are?-->
    <div class="h-full bg-cover bg-center"
    title="Image goes here" style="background-image: url('https://images.pexels.com/photos/3722817/pexels-photo-3722817.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');"> 
        
    </div>
    <div id="whoWeAre" class="p-16 bg-gray-50">
        <p class="text-2xl font-semibold uppercase text-red-500 text-center">¿Quiénes somos?</p>
        <p class="mt-5 text-center text-sm font-light text-gray-500 tracking-widest">
            Somos una empresa mexicana 100% familiar dedicada a realizar todo 
            tipo de <span class="font-bold">transportación turística</span> a 
            nivel <span class="font-bold">nacional</span>, con la 
            <span class="font-bold">calidad</span> y 
            <span class="font-bold">garantía</span> que usted y sus familiares 
            merecen.</p>
    </div>
    <div class="bg-cover bg-center block"
    title="Image goes here" style="background-image: url('https://images.pexels.com/photos/784707/pexels-photo-784707.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');"> 
    </div>

    <!--Mission-->
    <div id="mision" class="p-16">
        <p class="text-2xl font-semibold uppercase text-red-500 text-center">Misión</p>
        <p class="mt-5 text-sm font-light text-center text-gray-500 tracking-widest">
            Proporcionar a nuestros clientes las <span class="font-bold">mejores 
            experiencias turísticas</span> y la oportunidad de realizar ese 
            <span class="font-bold">viaje</span> que han 
            <span class="font-bold">anhelado por años</span>.     
        </p>
    </div>
    <div class="bg-cover bg-center"
    title="Image goes here" style="background-image: url('https://images.pexels.com/photos/5862697/pexels-photo-5862697.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');"> 
    </div>

    <div id="vision" class="p-16">
        <p class="text-2xl font-semibold uppercase text-red-500 text-center">Visión</p>
        <p class="mt-5 text-sm font-light text-center text-gray-500 tracking-widest">
            Convertirnos en una de las empresas de <span class="font-bold">transportación 
            turistica</span> más solicitada en <span class="font-bold">México</span>,
            conocida por su <span class="font-bold">calidad</span> y las 
            <span class="font-bold">aventuras memorables</span> que 
            proporcionan a sus clientes.
        </p>
    </div>
</div>
<div class="p-10 grid grid-cols-1 md:grid-cols-2 gap-4 md:p-16 lg:grid-cols-2 gap-2 lg:p-20 bg-gray-50">
    <div class="flex justify-center items-center bg-red-100 bg-cover bg-center">
        <div class="w-full h-full bg-red-500">
            <img class="w-full h-full" src="https://images.pexels.com/photos/9307997/pexels-photo-9307997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
        </div>
    </div>
    <div class="text-right">
        <p class="mt-5 text-2xl font-light uppercase text-black md:text-3xl md:mt-0 lg:text-4xl lg:mt-0">
            Nuestro <span class="text-2xl font-black uppercase text-black md:text-3xl lg:text-4xl">
            valor agregado</span></p>
        <p class="mt-8 text-gray-500 font-light tracking-widest">
            Contamos con la <span class="font-bold">mejor capacitación</span>
            para desempeñar nuestra labor como <span class="font-bold">guías
            turísticos</span> de manera que nuestros clientes puedan
            <span class="font-bold">disfrutar, conocer, degustar</span> y 
            <span class="font-bold">admirar</span> todas las bellezas
            que <span class="font-bold">México</span> ofrece.
        </p>
    </div>
</div>
<div id="contacto" class="p-10 grid grid-cols-1 p-0 m-0 md:grid-cols-2 md:p-16 lg:grid-cols-2 lg:p-20">
    <div class="">
        <p class="text-2xl font-light uppercase text-black md:text-3xl lg:text-4xl">
            <span class="text-2xl font-black uppercase text-black md:text-3xl lg:text-4xl">Contáctanos.</span> 
            Será un gusto atenderte y descubrir cual es el viaje que necesitas.
        </p>
        <div class="mt-5">
            <div class="mt-4 flex flex-col gap-2">
                <div class="flex gap-2">
                    <img class="w-6" src="assets/icons/phoneGray.svg" alt="phone"/>
                    <span class="text-md font-xs text-gray-500 text-justify5">+52 5578 7878 78</span>
                </div>
                <div class="flex gap-2">
                    <img class="w-6" src="assets/icons/mailGray.svg" alt="phone"/>
                    <span class="text-md font-xs text-gray-500 text-justify5">contacto@elmariachiviajero.com.mx</span>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>
