@import "~swiper/scss";
@import "~swiper/scss/pagination";
@import "~swiper/scss/navigation";

:root {
	--swiper-theme-color: rgb(52, 211, 153);
	--swiper-pagination-bullet-inactive-color: #FFFFFF;
}

.bg-aztec {
	/* made with https://www.heropatterns.com/ */
	//background-color: rgb(52, 211, 153);
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%239C92AC' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

html, body {
	min-height: 100vh !important;
	min-width: 100% !important;
}

body {
	margin: 0;
	position: relative;
}

.heading-title {
  @apply text-3xl lg:text-4xl font-black px-3 sm:px-5;
}

.heading-subtitle {
  @apply text-xl lg:text-2xl font-semibold px-2 sm:px-4;
}

.link {
  @apply underline hover:text-blue-800;
}

.section-title {
  @apply text-3xl lg:text-4xl font-light;
}

.content-container {
  @apply flex flex-col gap-4 md:gap-8 lg:gap-16 px-2 md:px-8 lg:px-16 xl:px-20 py-8;
}

@supports not (backdrop-filter: blur(1px)) {
	/* If the browser doesn't support blur, change the opacity */
	.bg-opacity-95-no-blur {
		--tw-bg-opacity: 0.95 !important;
	}
	.bg-opacity-90-no-blur {
		--tw-bg-opacity: 0.90 !important;
	}
	.bg-opacity-50-no-blur {
		--tw-bg-opacity: 0.50 !important;
	}
}
